[submodule "markdown-editor/vendor/php-toolkit"]
	path = markdown-editor/vendor/php-toolkit
	url = https://github.com/WordPress/php-toolkit.git
[submodule "indexer/resources/sources/jieba"]
	path = indexer/resources/sources/jieba
	url = https://github.com/fxsjy/jieba
