<?xml version="1.0"?>
<ruleset name="Universal WordPress Importer">
	<description>WordPress coding standards for the Universal WordPress Importer plugin.</description>

	<file>universal-wordpress-importer.php</file>
	<file>src</file>
	<file>tests</file>

	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>tests/bootstrap.php</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="parallel" value="4"/>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName"/>
		<exclude name="WordPress.NamingConventions.ValidVariableName.UsedPropertyNotSnakeCase"/>
	</rule>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>

	<config name="minimum_supported_wp_version" value="6.0"/>
	<config name="testVersion" value="7.2-"/>
</ruleset>
